services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    # container_name: laravel_app
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    # ports:
    #   - "9000:9003"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - db
  webserver:
    image: nginx:alpine
    # container_name: nginx_web
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - app
  db:
    image: mysql:8.0
    # container_name: mysql_db_server
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
volumes:
  dbdata:
